@mixin tablet{
    @media (min-width:$tablet) {
        @content
    }
}

@mixin escritorio{
    @media (min-width:$escritorio) {
        @content
    }
}

@mixin crearBotonArt ($colorLetra,$colorFondo,$tamanio,$tamanioLetra){
    background-color: $colorFondo;
    color:$colorLetra;
    padding: $tamanio;
    font-size: $tamanioLetra;
    text-decoration: none;
    border:none;
    align-self: center;
}