:root {
	--primario:#7abe47;
	--secundario:#ffc845;
	--negro:#000000;
	--claro:#ffffff;
	--gris:#eeeeee;
	--oscuro:#57a42b;
	--padding:1rem;
	--paddingt:2rem;
	--tamanio:15px;
}
$tablet:480px;
$escritorio:700px;
