:root {
  --primario:#7abe47;
  --secundario:#ffc845;
  --negro:#000000;
  --claro:#ffffff;
  --gris:#eeeeee;
  --oscuro:#57a42b;
  --padding:1rem;
  --paddingt:2rem;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

.contenedor {
  margin: 0 auto;
  max-width: 1100px;
}

.hdr {
  background-color: var(--primario);
}
.hdr .interior {
  display: grid;
  padding: var(--padding);
}
@media (min-width: 700px) {
  .hdr .interior {
    grid-template-columns: 30% auto 30%;
  }
}
.hdr .interior .logo {
  justify-self: center;
  max-width: 100%;
}
@media (min-width: 700px) {
  .hdr .interior .logo {
    grid-column: 1/2;
  }
}
.hdr .interior .nav {
  justify-content: center;
}
@media (min-width: 700px) {
  .hdr .interior .nav {
    grid-column: 3/4;
    justify-self: end;
  }
}
.hdr .interior ul {
  list-style: none;
  color: var(--claro);
  gap: var(--padding);
  text-align: center;
}
@media (min-width: 700px) {
  .hdr .interior ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    font-size: 25px;
  }
}

.nos {
  margin-top: 1rem;
  display: grid;
}
@media (min-width: 700px) {
  .nos {
    grid-template-columns: 1fr 1fr;
  }
}
.nos .img1 {
  max-width: 100%;
  justify-self: center;
}
@media (min-width: 700px) {
  .nos .img1 {
    grid-column: 1/2;
  }
}
.nos .txt {
  display: grid;
  text-align: center;
  align-items: center;
}
@media (min-width: 700px) {
  .nos .txt {
    text-align: left;
    grid-column: 2/3;
    padding-left: 1rem;
  }
}

.articulos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4 auto);
}
@media (min-width: 480px) {
  .articulos {
    grid-template-columns: 1fr 1fr;
  }
}
.articulos .titulo2 {
  grid-column: 1/2;
  text-align: center;
  justify-self: center;
}
@media (min-width: 480px) {
  .articulos .titulo2 {
    grid-column: 1/3;
  }
}
.articulos .destacados {
  grid-column: 1/2;
  justify-self: center;
}
@media (min-width: 480px) {
  .articulos .destacados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
  }
}
@media (min-width: 480px) {
  .articulos .destacados img {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.articulos .destacados .dst {
  display: grid;
  gap: 1rem;
}
@media (min-width: 480px) {
  .articulos .destacados .dst {
    grid-column: 2/3;
  }
}