:root {
  --primario:#7abe47;
  --secundario:#ffc845;
  --negro:#000000;
  --claro:#ffffff;
  --gris:#eeeeee;
  --oscuro:#57a42b;
  --padding:1rem;
  --paddingt:2rem;
  --tamanio:15px;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

.contenedor {
  margin: 0 auto;
  max-width: 1100px;
}

.hdr {
  background-color: var(--primario);
}
.hdr .interior {
  display: grid;
  padding: var(--padding);
}
@media (min-width: 700px) {
  .hdr .interior {
    grid-template-columns: 30% auto 30%;
  }
}
.hdr .interior .logo {
  justify-self: center;
  max-width: 100%;
}
@media (min-width: 700px) {
  .hdr .interior .logo {
    grid-column: 1/2;
  }
}
.hdr .interior .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 700px) {
  .hdr .interior .nav {
    grid-column: 3/4;
    justify-self: end;
  }
}
.hdr .interior ul {
  list-style: none;
  color: var(--claro);
  gap: var(--padding);
  text-align: center;
}
@media (min-width: 700px) {
  .hdr .interior ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    font-size: 25px;
  }
}
.hdr .interior li:hover {
  background-color: green;
}

.nos {
  margin-top: 1rem;
  display: grid;
}
@media (min-width: 700px) {
  .nos {
    grid-template-columns: 1fr 1fr;
  }
}
.nos .img1 {
  max-width: 100%;
  justify-self: center;
}
@media (min-width: 700px) {
  .nos .img1 {
    grid-column: 1/2;
  }
}
.nos .txt {
  display: grid;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 700px) {
  .nos .txt {
    text-align: left;
    grid-column: 2/3;
    padding-left: 1rem;
  }
}

body {
  background-color: var(--gris);
}

.articulos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-template-rows: repeat(4 auto);
}
@media (min-width: 700px) {
  .articulos {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3 auto);
  }
}
.articulos .titulo2 {
  grid-column: 1/3;
  text-align: center;
  justify-self: center;
}
@media (min-width: 480px) {
  .articulos .titulo2 {
    grid-column: 1/3;
  }
}
@media (min-width: 700px) {
  .articulos .titulo2 {
    grid-column: 1/4;
  }
}
.articulos .destacados {
  grid-column: 1/3;
  justify-self: center;
  background-color: white;
  border: 1px solid black;
}
@media (min-width: 480px) {
  .articulos .destacados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
  }
}
@media (min-width: 700px) {
  .articulos .destacados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
  }
}
@media (min-width: 480px) {
  .articulos .destacados img {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media (min-width: 700px) {
  .articulos .destacados img {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.articulos .destacados .dst {
  display: grid;
  gap: 1rem;
  padding-left: 1rem;
}
@media (min-width: 480px) {
  .articulos .destacados .dst {
    grid-column: 2/3;
  }
}
@media (min-width: 700px) {
  .articulos .destacados .dst {
    grid-column: 2/3;
  }
}
.articulos .btn {
  background-color: var(--primario);
  color: var(--claro);
  padding: var(--padding);
  font-size: var(--tamanio);
  text-decoration: none;
  border: none;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: 2s;
  transition: 2s;
}
.articulos .btn:hover {
  background-color: var(--claro);
  color: var(--primario);
  padding: var(--padding);
  font-size: var(--tamanio);
  text-decoration: none;
  border: none;
  -ms-flex-item-align: center;
      align-self: center;
}
.articulos .art {
  display: grid;
  gap: 1rem;
  background-color: white;
  border: 1px solid black;
}
.articulos .art img {
  max-width: 100%;
}
.articulos .art h2 {
  padding-left: 1rem;
}
.articulos .art p {
  padding-left: 1rem;
}
.articulos .precio {
  color: var(--primario);
}
.articulos .precio strong {
  color: black;
}

footer {
  background-color: var(--primario);
  margin-top: 1rem;
}
footer .pr {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  color: white;
}
@media (min-width: 700px) {
  footer .pr {
    grid-template-columns: 30% 20% 2fr;
  }
}
footer .pr .nvg ul {
  list-style: none;
}
footer .pr .cv {
  display: grid;
  gap: 1rem;
}
footer .pr .cv .art2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-row: 1fr;
}
footer .pr .cv .art2 h2 {
  grid-row: 1/2;
}
footer .pr .cv .art2 img {
  max-width: 30%;
  grid-column: 1/2;
}
footer .pr .cv .art2 p {
  grid-column: 2/3;
}