@import '_mixins';
@import '_variables';
*{
    margin: 0;
    border: 0;
    padding: 0;
}

.contenedor{
    margin: 0 auto;
    max-width:1100px ;
}

.hdr{
    background-color: var(--primario);
    
    .interior{
        display: grid;
        padding: var(--padding);
        @include escritorio{
        grid-template-columns: 30% auto 30%;
    }
    .logo{
        justify-self: center;
        max-width: 100%;
        @include escritorio{
            grid-column: 1/2;
        }
    }
    .nav{
        justify-content: center;
        @include escritorio{
            grid-column: 3/4;
            justify-self: end;
            
        }
    }
    ul{
        list-style: none;
        color: var(--claro);
        gap: var(--padding);
        text-align: center;
        @include escritorio{
        display: grid;
        grid-template-columns: repeat(3, auto);
        text-align: center;
        font-size: 25px;
        
        }
        
    }
    }
   
}

.nos{
    margin-top: 1rem;
    display: grid;
    @include escritorio{
        grid-template-columns: 1fr 1fr ;
        
    }
    .img1{
        max-width: 100%;
        justify-self:center;
        @include escritorio{
            grid-column: 1/2;
        }
    }
    .txt{
        display: grid;
        text-align: center;
        align-items: center;
        @include escritorio{
            text-align: left;
            grid-column: 2/3;
            padding-left: 1rem;
        }
        
    }
    
}

.articulos{
    display: grid;
    grid-template-columns: 1fr;
    @include tablet{
        grid-template-columns: 1fr 1fr;
    }
    grid-template-rows: repeat(4 auto);
    .titulo2{
        grid-column: 1/2;
        @include tablet{
            grid-column: 1/3;
        }
        text-align: center;
        justify-self: center;
    }
    .destacados{
        grid-column: 1/2;
        justify-self: center;
        @include tablet{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column:1/3 ;
        }
        img{
            
            @include tablet{
                grid-column: 1/2;
                grid-row: 1/2;
            }
        }
        .dst{
            display: grid;
            gap: 1rem;
            @include tablet{
                grid-column: 2/3;
            }
        }
    }
}



